<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/history">Company History</a></li>
        <li><a href="/pastwork">Past Work</a></li>
        <li><a href="/staff">Our Staff</a></li>
        <li><a href="/external-links">External Links</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</nav>