<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= project.title %></title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

    <%- include('partials/nav') %>


    <header>
        <h1><%= project.title %></h1>
    </header>

    <main>
        <p><%= project.description %></p>
        <a href="/pastwork">Back to Past Work</a>
    </main>

</body>
</html>
