* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: lightgrey;
    color: rgb(57, 4, 192);
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}